<launch>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find move_base_sample_params)/params/move_base_params.yaml" command="load"/>
		<rosparam file="$(find move_base_sample_params)/params/costmap_common_params.yaml" command="load" ns="global_costmap"/>
		<rosparam file="$(find move_base_sample_params)/params/costmap_common_params.yaml" command="load" ns="local_costmap"/>
		<rosparam file="$(find move_base_sample_params)/params/local_costmap_params.yaml" command="load"/>
		<rosparam file="$(find move_base_sample_params)/params/global_costmap_params.yaml" command="load"/>
		<rosparam file="$(find ymg_local_planner)/params/ymglp_params.yaml" command="load"/>
		<rosparam file="$(find ymggp_bgp)/params/ymggp_bgp_params.yaml" command="load"/>
	</node>

</launch>
